.about-page{
    display: flex;
    justify-content: center;
    align-items: center;

    .text-zone{
        position: relative;
        //left: 20%;
        //top: 3%;
        width: 35%;
        //vertical-align: middle;

        h1{
            font-size: 3vw;
        }

        p{
            font-size: 2.3vmin;
            opacity: 0;
            animation: fadeInUp 0.3s 0.2s;
            animation-fill-mode: forwards;
        }

        .top-tag{
            position: relative;
            left: -30px;
            top: 10px;
        }

        .bottom-tag{
            position: relative;
            left: -30px;
        }
    }
}