.about-page{
    display: flex;
    justify-content: center;
    align-items: center;

    .text-zone{
        position: relative;
        width: 38%;

        h1{
            font-size: 3.2vw;
        }

        p{
            font-size: 2.5vmin;
            opacity: 0;
            animation: fadeInUp 0.3s 0.2s;
            animation-fill-mode: forwards;
        }
    }

    @media(max-width:1000px){
        .text-zone{
            width: 60%;

            h1{
                font-size: 4vw;
            }
    
            p{
                font-size: 2.7vmin;
            }
        }
    }

    @media(max-width:700px){
        .text-zone{
            width: 60%;

            h1{
                font-size: 4vw;
            }
    
            p{
                font-size: 3.4vmin;
            }
        }
    }
}