.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .text-zone{
        font-size: 3.5vmin;
        top: -8%;
    }

    .cv-name{
        display: flex;
        opacity: 0;
        animation: fadeInUp 0.2s 0.3s;
        animation-fill-mode: forwards;
    }

    .words{
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 4.21vmin;
        position: absolute;
        bottom: 0;
        font-size: 3.5vmin;
    }

    .first{
        margin-top: 4.3vmin;
    }

    .words span{
        animation: spin 6s infinite;
    }

    @keyframes spin{
        10%{
            transform: translateY(-105%);
        }
        25%{
            transform: translateY(-100%);
        }
        35%{
            transform: translateY(-205%);
        }
        50%{
            transform: translateY(-200%);
        }
        60%{
            transform: translateY(-305%);
        }
        75%{
            transform: translateY(-300%);
        }
        85%{
            transform: translateY(-405%);
        }
        100%{
            transform: translateY(-400%);
        }
    }


    img{
        align-self: center;
        width: 14vmin;
        cursor: pointer;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    @media(max-width: 650px){
        .cv-name{
            flex-direction: column;
        }

        img{
            margin-top: 30px;
            margin-left: 0;
            width: 25vmin;
        }

        .text-zone{
            font-size: 4vmin;
        }

        .words{
            top: 33.3vmin;
        }
    }
}
