.home-page{
    display: flex;
    justify-content: center;
    align-items: center;
    
    .text-zone{
        font-size: 3.5vmin;
        top: -8%;
        
    }

    .cv-name{
        display: flex;
        opacity: 0;
        animation: fadeInUp 0.2s 0.3s;
        animation-fill-mode: forwards;
    }

    img{
        align-self: center;
        width: 25vmin;
        cursor: pointer;
        margin-left: 20px;
    }

    @media(max-width: 650px){
        .cv-name{
            flex-direction: column;
        }

        img{
            margin-left: 0;
            width: 35vmin;
        }

        .text-zone{
            font-size: 4vmin;
        }
    }
}
