.contact-page{
    display: flex;
    justify-content: center;
    align-items: center;
    

    .text-zone{
        position: relative;
        width: 30%;
        font-size: 2.5vmin;

        .contact-form{
            width: 100%;
    
            ul{
                padding: 0;
                margin: 0;
    
                li{
                    margin-bottom: 12px;
                    overflow: hidden;
                    opacity: 0;
                    animation: fadeInUp 0.3s 0.15s;
                    animation-fill-mode: forwards;
                }
    
                
            }
        }
    }

    @media(max-width: 600px){
        .text-zone{
            width: 55%;
        }
    }
}

input, textarea{
    font-family: 'Coolvetica';
    font-size: 2vmin;
    height: 6vmin;
    border: 0;
    background: var(--contact_color);
    padding: 0 20px;
    transition: 0.3s;
}

input[name='send']{
    cursor: pointer;
    float: right;
}

textarea{
    height: 28vmin;
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
    padding: 20px;
    resize: none;
}



